# Entorno virtual de Python
venv/

# Archivos de caché y temporales
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env
.env.local

# PostgreSQL (archivos de configuración local o backups)
*.pgdump
*.pgsql